/* Portrait layout (default) */
.app {
  position: absolute;
  left: 50%;
  top: 50%;
  min-height: 350px;
  @include translate(-50%, -50%);
  width: 225px;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
  .app {

  }
}