* {
  -webkit-tap-highlight-color: transparent;
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
  -webkit-touch-callout: none;
  /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;
  /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;
  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color: #232D4D;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9Ii0wLjA5MTUwNiIgeTE9IjAuMTU4NDk0IiB4Mj0iMS4wOTE1MDYiIHkyPSIwLjg0MTUwNiI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI3MjM0OCIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMjMyZDRkIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjM2QwOTNjIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -moz-linear-gradient(330deg, #272348 0%, #232d4d 50%, #3d093c 100%);
  background-image: -webkit-linear-gradient(330deg, #272348 0%, #232d4d 50%, #3d093c 100%);
  background-image: linear-gradient(120deg, #272348 0%, #232d4d 50%, #3d093c 100%);
  background-attachment: fixed;
  color: #EAEAEA;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
  width: 100%;
}

a {
  color: #E00B39;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: #ECCB1C;
  font-family: 'Montserrat';
  font-weight: 400;
  margin: 0 0 0.5em;
  overflow: visible;
  padding: 0;
}

h1 {
  font-size: 28px;
  letter-spacing: 1px;
}

ul {
  display: block;
  list-style: none;
  margin: 5px 0;
  padding: 0;
}
ul li {
  border-bottom: 1px solid #0b0e18;
  display: block;
  padding: 12px 6px;
}
ul li:last-child {
  border-bottom: 0;
}

/* Portrait layout (default) */
.app {
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 100%;
  min-height: 350px;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 325px;
}

/* Landscape layout (with min-width) */
